<h1>Listing clients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Prefix</th>
    <th>Photo url</th>
    <th>Gender</th>
    <th>Address</th>
    <th>Profile</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.prefix %></td>
    <td><%= client.photo_url %></td>
    <td><%= client.gender %></td>
    <td><%= client.address %></td>
    <td><%= client.profile %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
